<div class="feed" ng-controller="feed" data-ng-init="init()" when-scrolled="">
	<!-- Search: <input ng-model="query"> -->
	
	<!-- <a href="" ng-click="removeSource('Facebook')">remove facebook posts</a> -->
	
	<!-- <input type="text" ng-model="url"/> -->
	<!-- <button class="button" ng-click="fetch()">fetch</button><br> -->
    
    <!-- <span>Number of Posts: {{numPosts()}}</span> -->
    
	<ul class="posts" infinite-scroll="loadMorePosts()">
		<li class="post" ng-repeat="post in posts | filter:query" id="{{post.post.post_id}}">
			<span class="postSource">{{post.post.descriptor}}</span>
			<span class="timeStamp">{{post.post.created_time}}</span>
			<span class="postContent">{{post.post.message.text}}</span>
			<a href="{{post.post.message.link}}" class="postLink">{{post.post.message.link}}</a>
		</li>
	</ul>

<!--
	<pre>http status code: {{status}}</pre>
	<pre>http response data: {{data}}</pre>
-->
</div>