<% @hide_search_bar=true %>
<div class="page">
	<h2>Welcome to Dynamit, the smartest content agreggator on the web.</h2>
</div>

<div class="loginCard">
	<span class="loginTitle">Sign in with...</span>
	<a href="auth/facebook" class="addSourceButton" id="facebookSource"><i class="icon-facebook"></i><span class="sourceButtonTitle">Facebook</span></a>
	<a href="auth/twitter" class="addSourceButton" id="twitterSource"><i class="icon-twitter"></i> <span class="sourceButtonTitle">Twitter</span></a>
</div>
