<% @hide_search_bar=true %>
<div class="page">
	<div class="middle">
		<h2>Welcome to <b>Dynamit</b>, the smartest content agreggator on the web.</h2>
		
		<p>If you are anything like us, you frequent more websites every day than you can count.  It's a tedious process to check all of your favorite sites every few hours (or every few minutes) just to see if there is anything new or relevant.  Well Dynamit is here to make sure that never happens again.</p>
		
		<h3>Tired of looking for cool content?</h3>
		<h4>Stop looking and start enjoying</h4>
		
		<p>Dynamit pulls your favorite content from sources all over the web.  Facebook, Twitter, RSS, Google+, Tumblr ... you name it.  Best of all, if Dynamit doesn't currently support a source you want, you can simply build a plugin for it and enjoy your new material right away!</p>
		
		<h3>The more you use Dynamit,</h3>
		<h4>the better it gets</h4>
		
		<p>Dynamit uses passive learning to track what posts interest you the most.  Based on the time you spend viewing and interacting with posts, Dynamit creates a customized feed just for you.  And if you don't like the way it sorts your content, you can control its layout.</p>
		
		<div class="loginCard">
			<span class="loginTitle">Sign in with...</span>
			<a href="auth/facebook" class="addSourceButton" id="facebookSource"><i class="icon-facebook"></i><span class="sourceButtonTitle">Facebook</span></a>
			<a href="auth/twitter" class="addSourceButton" id="twitterSource"><i class="icon-twitter"></i> <span class="sourceButtonTitle">Twitter</span></a>
		</div>
	</div>
</div>