<div class="feed" ng-controller="feed">
	Search: <input ng-model="query">
	
	<!-- <a href="" ng-click="removeSource('Facebook')">remove facebook posts</a> -->
	<br>
	<br>
	
	<input type="text" ng-model="url" size="80"/>
	<button class="button" ng-click="fetch()">fetch</button><br>
    
    <br>
    
    <!-- <span>Number of Posts: {{numPosts()}}</span> -->
    
	<ul class="posts">
		<li class="post" ng-repeat="post in posts | filter:query | filter:{visible:true}">
			<span class="postSource">{{post.source}}</span>
			<span class="postContent">{{post.content}}</span>
		</li>
	</ul>

	<!--
<pre>http status code: {{status}}</pre>
	<pre>http response data: {{data}}</pre>
-->
</div>