/* Landing Page Styling */
.page {
	background: #FFFFFF;
	border-radius: .2rem;
	margin: 1rem;
	padding: 1rem;
	width: 100%;
	max-width: 70rem;
	margin: auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	display: block;
}




.loginCard {
	background: #FFFFFF;
	border-radius: .2rem;
	margin: 1rem;
	padding: 1rem;
	width: 100%;
	max-width: 30rem;
	margin: auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	display: block;
}
.loginCard .loginTitle {
	font-size: 1.5rem;
	font-weight: 100;
	display: block;
	text-align: center;
	
}
.addSourceButton {
	display: block;
	width: 100%;
	margin-top: .5rem;
	
	box-sizing: border-box;
	border-radius: .2rem;
	color: #FFFFFF;
	font-size: 1.5rem;
	
	background: #0088FF;
}
.addSourceButton i {
	background: rgba(0,0,0,0.1);
	padding: .5rem ;
	border-radius: .2rem 0 0 .2rem;
	width: 3rem;
	text-align: center;
}
.sourceButtonTitle {
	padding: .5rem 1rem;
	font-weight: 400;
	text-align: center;
	
}
#facebookSource {
	background: #5472B8;
}
#twitterSource {
	background: #00bcf5;
}