/* Landing Page Styling */
.logo {
	width: 100%;
	max-width: 8rem;
	margin: 0 auto;
	display: block;
}
.page {
	background: #FFFFFF;
	padding: 1rem;
	width: 100%;
	margin: 0 auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	display: block;
}
.middle {
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
}
.page h2 {
	font-size: 3rem;
	padding: 3rem;
	text-align: center;
}
.page p {
	font-size: 1.4rem;
	
	margin: 4rem 8rem;
	color: #888888;
}
.page h3 {
	font-weight: 700;
	font-size: 2.5rem;
	text-align: center;
}
.page h4 {
	font-weight: 100;
	font-size: 2rem;
	text-align: center;
	color: #555555;
}


.loginCard {
	background: #FFFFFF;
	margin: 5rem auto;
	padding: 1rem;
	width: 100%;
	max-width: 30rem;
	display: block;
}
.loginCard .loginTitle {
	font-size: 1.5rem;
	font-weight: 100;
	display: block;
	text-align: center;
	
}
.addSourceButton {
	display: block;
	width: 100%;
	margin-top: .5rem;
	
	box-sizing: border-box;
	border-radius: .2rem;
	color: #FFFFFF;
	font-size: 1.5rem;
	
	background: #0088FF;
}
.addSourceButton i {
	background: rgba(0,0,0,0.1);
	padding: .5rem ;
	border-radius: .2rem 0 0 .2rem;
	width: 3rem;
	text-align: center;
}
.sourceButtonTitle {
	padding: .5rem 1rem;
	font-weight: 400;
	text-align: center;
	
}
#facebookSource {
	background: #5472B8;
}
#twitterSource {
	background: #00bcf5;
}