<!DOCTYPE html>
<html ng-app="dynamite">

<head>
	<title>Dynamite</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	
	<%= csrf_meta_tags %>
</head>


<body>
	<header>
		<div class="row red" id="headerBar">
			<h1>Dynamite</h1>
		</div>
	</header>
	
	<div id="main">
		<section class="sidebar">
		
		</section><section class="mainContent silver">
			<%= yield %>
		</section>
	</div> <!-- end #body -->
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.js"></script>
	<%= javascript_include_tag "application" %>
</body>

</html>